<div class="container-fluid">
    <center><img src="/assets/bone-beer-solid-white.svg" width="60" height="60" alt="logo"></center>
  <div class="container">
    <hr>
  </div>
  <div id="clipped-title">
    <h1>Hops & Hounds</h1>
  </div>
  <h3>Find the <em>pawfect</em> pint for you and your pup!</h3>
  <div class="enter">
    <%= link_to "Must be 21+ to enter", "/establishments", class: "btn btn-danger btn-lg text-white" %>
  </div>
  <center><p class="note">By clicking the button above, you agree that you are at least 21 years old.</p></center>
</div>
