/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*/

@import "bootstrap";

body {
  background-color: #004680;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: white;
}

.container-fluid {
  margin-top: 112px;
  padding-right: 16px;
  padding-left: 16px;
}

hr {
  margin-top: 2rem;
  border-top-color: white;
  border-top-width: 2px;
}

#clipped-title {
  background: url("beer_img.jpeg");
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#clipped-title, h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: text-shadow 1s ease;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  margin: 0;
  padding: 0;
}

#sub-title, h2 {
  // font-family: 'Kalam', cursive;
  text-align: center;
}

.enter {
  text-align: center;
  margin-top: 56px;
}

#map {
  display: block;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 700px; height: 500px;
  border-radius: 5px;
  border: solid 9px #d2e0f9;
}
